*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: rgb(30, 32, 32);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163,38,0);
    --clr-secondary: rgb(11, 145, 44);

    --br: .5em;

    --transition: transform 200ms cubic-bezier(.21, 1.00, .81, 1.00)
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    /* display: grid; */
    place-items: center;
    /* background: var(--clr-dark); */
    color: var(--clr-light);
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
    z-index: 599;
}

.btn {
    cursor: pointer;
    border: 0;
    background: var(--clr-secondary);
    border-radius: 100vw;
    color: var(--clr-light);
    font-weight: bold;
    padding: .5em 1.5em;
}

.rank {
    position: absolute;
    top: 0;
    right: 1em;
    z-index: 499;
    font-weight: bold;
    color: white;
    background: rgba(0,0,0,.65);
    padding: .18em .18em .20em;
    clip-path: polygon(100% 0%, 100% 100%, 50% 85%, 0 100%, 0 0);
    transition: var(--transition);
}

.game {
    position: relative;
    width: 12.5rem;
    cursor: pointer;

}

/* .front .streamers {
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.streamer > img{
    width: 1em;
    height: 1em;
    border-radius: 50%;

    border: 1px solid green;
} */

.front {
    transition: 250ms;
    color: white;
    z-index: 1;
}

.front .thumbnail {
    z-index: 599;
    border-radius: var(--br);
}

.front .name {
    text-align: start;
    margin: 0.2em 0;
    margin-left: 0;
    font-size: 15px;
    z-index: 1;
}

.front .stats{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.front .stats > p {
    align-items: center;
    font-size: 16px;
    /* font-weight: bold; */
    margin-left: 7px;
    margin-top: 2px;
}

.update__timer {
    transform: scale(1.4);
}

.front__avatars {
    align-items: flex-start;
    transform: scale(0.8);
}

.back {
    opacity: 0;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .2em;
    transform: translateY(35%);
    color: white;
    z-index: 1;
}

.back .streaming__info {
    margin: .5em 0;
    columns: 2;
    column-rule: 1px solid rgba(255, 255, 255, .25);
}

.back .game__stat {
    font-size: .765rem;
    text-align: center;
}

.back .game__stat > span {
    font-size: .80rem;
    display: block;
}

.back .streamer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
}

.back .streamer .name {
    font-weight: bold;
}

.back .streamers .streamer__1> p{
    font-size: .9rem;
}
.back .streamers .streamer__2> p{
    font-size: .9rem;
}.back .streamers .streamer__3> p{
    font-size: .9rem;
}.back .streamers .streamer__4> p{
    font-size: .9rem;
}

.game .back__background {
    /* background: rgb(40, 46, 54); */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* z-index: 100; */
    transform: scale(.2, .9);
    opacity: 0;
    transition: 
        var(--transition),
        opacity 100ms linear;
    border-radius: var(--br);
}

.game:hover .rank {
    transform: translate(112%, -40%);
    background: var(--clr-secondary);
}

.game:hover .front {
    transform: translateY(-30%) scale(.8);
    /* opacity: 1; */
    /* z-index: 1000; */
}

.game:hover .front .name {
    animation: gameName 250ms forwards;
    font-size: 17px;
}
.game:hover .stats__streamers {
    opacity: 0;
}
.game:hover .back {
    opacity: 1;
    transition: transfrom 250ms ease, opacity 150ms linear;
    transform: translateY(0);
}
.game:hover .back__background{
    transition: var(--transition);
    opacity: 1;
    transform: scale(1.25, 1.02);
    /* background-color: var(--clr-dark); */
    z-index: 0;
}
.back .streamer img:hover{
    transform: scale(1.2);
    transition: .3s;
}
.back .streamer .streamer__1:hover{
    transform: scale(1.3);
    transition: .2s;
}

.card__streamer1 {
    transform: scale(1.1);
}
.card__streamer2 {
    transform: scale(1.3);
}
.card__streamer1:hover {
    transform: scale(1.3);
    transition: .2s;
}
.card__streamer2:hover {
    transform: scale(1.5);
    transition: .2s;
}

@keyframes gameName {
    0% {
        text-align: left;
        opacity: 1;
    }

    20% {
        text-align: left;
        opacity: 0;
    }
    50% {
        text-align: center;
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        text-align: center;
        opacity: 1;
    }
}